@import "../scss/variables";

//! Table section ////

.tableContainer {
  margin: auto;
  padding: 0rem;
  .MainChild:nth-child(odd) {
    background-color: $lightGray;
  }
  .MainChild:hover {
    background-color: $darkGray;
  }

  .container {
    .nameDiv {
      font-size: 1.7rem;
      font-weight: bold;
      margin-top: 1rem;
    }

    .divIcon {
      padding: 0;
      margin: 0;
      p {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        font-size: 1rem;
        margin: 0.5rem 1.3rem;
        padding: 0;
        cursor: pointer;
        .icon {
          margin-right: 0.5rem;
        }
      }
    }
  }

  //! notFound Msg Seciton ////
  .messageDiv {
    text-align: center;
    .message {
      padding: 0;
      margin: 0;
      color: darkred;
    }
  }
}
